.footer{
    margin: 100px 200px 20px 200px;

    .top{
        display: flex;
        gap: 50px;

        .item{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: justify;
            font-size: 14px;
            h1{
                font-size: 18px;
                font-weight: 500px;
                color: #555;
            }
            span{
                color: gray;
            }
        }
    }
}