.slider{
    height: calc(100vh - 80px);
    width: 100vh;
    position: relative;

    .container{
        width: 300vh;
        height: 100%;
        display: flex;
        transition: all 1s ease;
        

        img{
            width: 100vh;
            height: 90%;
            object-fit: cover;
        }
    }
    .icons{
        position: absolute;
        display: flex;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: auto;
        width: 100px;
        gap: 10px;

        .icon{
            width: fit-content;
            height: 50px;
            border: 1px solid #999;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}